.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.item-container {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
}

.item-photo {
    width: 100%;
}

.item-name,
.item-price {
    font-family: Arial, sans-serif;
    padding-bottom: 10px;
}
